@import "../../Style/Variables";

.Home {
  display: block;
  background-color: $baseBlack;
}

.Home header {
  background-color: $homeBG;
  position: relative;
  overflow: hidden;
  background-size: cover;
  color: $white;
  display: block;
  height: 80vh;
  text-align: center;
  font-family: $headerFont;
  h1 {
    // vertical-align: center;
    line-height: calc(90vh-25vh);
    color: $baseGold;
  }
  .cropper {
    display: inline-block;
    position: relative;
    margin-top: 25vh;
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;

    img {
      width: 100%;
      height: auto;
    }
  }
}

$quantity: 15;

.firefly {
  position: inherit;
  left: 50%;
  top: 50%;
  pointer-events: none;
  width: 0.6vw;
  height: 0.6vw;
  margin: -0.2vw 0 0 9.8vw;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform-origin: 10vw;
  }

  &::before {
    background: var(grey);
    opacity: 0.4;
    animation: drift ease alternate infinite;
  }

  &::after {
    background: white;
    opacity: 0;
    box-shadow: 0 0 0vw 0vw var(yellow);
    animation: drift ease alternate infinite, flash ease infinite;
  }

  animation: ease 200s alternate infinite;
}

@for $i from 1 through $quantity {
  $steps: random(12) + 16;
  $rotateSpeed: random(10) + 8s;
  @keyframes move#{$i} {
    @for $step from 0 to $steps {
      #{percentage($step / ($steps - 1))} {
        transform: translateX(random(100) - 50vw)
          translateY(random(100) - 50vh)
          scale(random(75) / 100 + 0.25);
      }
    }
  }

  .firefly:nth-child(#{$i}) {
    animation-name: move#{$i};

    &::before {
      animation-duration: $rotateSpeed;
    }

    &::after {
      animation-duration: $rotateSpeed, random(6) + 5s;
      animation-delay: 0s, random(5000) + 0ms;
    }
  }
}

@keyframes drift {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes flash {
  0%,
  30%,
  100% {
    opacity: 0;
    box-shadow: 0 0 0vw 0vw var(yellow);
  }

  5% {
    opacity: 1;
    box-shadow: 0 0 2vw 0.4vw var(yellow);
  }
}
