$div1: blue;
$white: white;
$baseGold: #dec79b;
$baseBlack: #18181e;
$homeBG: $baseBlack;
$portfolioBG: $baseBlack;
$cardBG: white;
$cardText: black;

$headerFont: "Maven Pro", sans-serif;
$pFont: "Maven Pro", sans-serif;
