@import "../../Style/Variables.scss";

.CardContainer {
  display: block;
  height: 300px;
  max-width: 300px;
  min-width: 220px;
  margin: 2%;
  background-color: transparent;
  flex-wrap: wrap;
  flex: 0 1 34%;
}
.FlipCard {
  position: relative;
  height: 100%;
  width: 100%;
  perspective: 1000px;
}
.PortfolioCard {
  height: 100%;
  width: 100%;
  background-color: $cardBG;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 2;
  transition: transform 0.7s;
  transition-timing-function: ease-in-out;
  transform-style: preserve-3d;
  font-family: $pFont;

  .CardText {
    color: $baseGold;
    width: 100%;
    height: calc(100%-20px);
    padding-top: 20px;
    background-size: inherit;
    // background-color: rgba($color: #000000, $alpha: 0.2);
    h3 {
      background-color: rgba($color: #000000, $alpha: 0.7);
      padding: 20px 20px;
      margin-top: 0;
    }
  }
}

.CardBack {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $cardBG;
  color: $cardText;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotateY(-180deg);
  transition: transform 0.7s;
  transition-timing-function: ease-in-out;
  transform-style: preserve-3d;
  text-align: center;
  font-family: $pFont;
  .buttonWrapper {
    text-align: center;
    margin: 0 auto;
  }

  a {
    text-decoration: none;
    color: $baseBlack;
  }
  .linkButton {
    width: 50px;
    height: 50px;
    margin: 0 15px;
    display: inline-block;
    border-radius: 50%;
    background-color: $baseGold;
    text-align: center;
    line-height: 50px;
    box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.6);
  }
  p {
    text-align: center;
    padding: 20px;
  }
}

.CardContainer:hover .PortfolioCard {
  transform: rotateY(180deg);
}
.CardContainer:hover .CardBack {
  transform: rotateY(0deg);
}
